.nav {
  margin-right: auto;
  ul {
    display: flex;
    text-decoration: none;
  }
  li {
    display: inline-block;
    a {
      text-decoration: none;
      padding: 0 10px;
      justify-content: start;
      color: inherit;
    }
  }
}
