@use "/src/common/styles/template" as *;

.light {
  @extend %light;
}

.dark {
  @extend %dark;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px;
  p {
    padding: 0 10px;
  }
  span {
    padding: 10px;
  }
}

.themeBtn {
  border: none; 
}
